
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <tbody>
            @foreach (var s in ViewBag.listproduct as List<ASPdotNETMVCExcelImport.Models.Product>)
            {
            <tr>
                <td>@s.id</td>
                <td>@s.Name</td>
                <td>@s.Price</td>
                <td>@s.Quantity</td>
            </tr>

            }
        </tbody>
        
    </table>
</body>
</html>

